

  <div class="sidebar-container">
    <div class="sidebar-logo">
      <a [routerLink]="['/adminhome']"><img src="/assets/images/logo.png" alt="OSTS_logo"></a>
    </div>
     <ul class="sidebar-navigation">
      <li class="header">MENÜ</li>
      <li><a [routerLink]="['/ogrenciler']"><i class="fa fa-users mr-3" ></i>Öğrenciler</a></li>
      <li><a [routerLink]="['/odevlist']"><i class="fas fa-tachometer-alt mr-3"></i>Verilen Ödevler</a></li>
      <!-- <li class="header">Another Menu</li>  -->
      <li><a [routerLink]="['/ogrenciekle']"><i class="fas fa-user-plus mr-3" ></i>Öğrenci Ekle</a></li>
      <li><a [routerLink]="['/odevekle']"><i class="fa fa-cog mr-3" ></i>Ödev Ekle</a></li>
      <li><a [routerLink]="['/publishs']"><i class="fa fa-info-circle mr-3" ></i>Teslim Edilen Ödevler</a></li>
      <li><a [routerLink]="['/ogretmenekle']"><i class="fa fa-info-circle mr-3" ></i>Öğretmen Ekle</a></li>

      <li style="position: absolute; bottom: 0; left: 0;"><a  [routerLink]="['/login']" (click)="deletecookies()">
        <i class="fas fa-sign-out-alt"></i> Çıkış
      </a></li>
    
    </ul> 
  </div>

  
  <div class="topbar">
    <div class="dashboard-title">
      Öğretmen Yönetim Paneli 
    
      <div class="profile">

        <a class="navbar-brand" [routerLink]="['/adminhome']">
          <img class="profilavatar" src="\assets\images\users\avatar-1.jpg" alt="profilavatar">
         <p> {{teacher_name}}</p>
        </a>
      </div>
    </div>
    </div>
 
  
  

