<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

<body>
<app-adminnavbar></app-adminnavbar>
<br><br><br>
<div class="container">
    <div class="card bg-light">
        <form [formGroup]="odevekleForm">
            <div class="form-group">
                <label for="exampleFormControlInput1">Homework Title</label>
              <input type="text" class="form-control"  placeholder="Homework Title" formControlName="title">
            </div>
            <div class="form-group">
              <label for="exampleFormControlSelect1">Lecture select</label>
              <select class="form-control" id="exampleFormControlSelect1" formControlName="lectureid" >
                <option [ngValue]="null" disabled>Choose your profile</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
            <div class="form-group">
              <label for="exampleFormControlSelect2">Student multiple select</label>
              <br>
              <select formControlName="studentid">
                <option [ngValue]="null" disabled>Choose your profile</option>
                <option *ngFor="let student of students" [ngValue]="student.student_id">
                     {{student.student_name}}
                 </option>

              </select>

  

            </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Homework Detail</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"  formControlName="detail"           ></textarea>
            </div>
            <!-- <div class="form-group">
                <label for="exampleFormControlTextarea1">Öğretmen id</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"  formControlName="assignerid"           ></textarea>
              </div> -->
           
          

            <div class="form-group text-center">
                <button type="submit" class="btn-success text-center"   (click)="odevekle()"      > Ekle</button>
            </div>
           
          </form>
</div>

</div>
</body>