<html>
    <body>

         <app-adminnavbar></app-adminnavbar> 
      
         <div class="content-container">
  
            <div class="container" style="padding-top: 100px; margin-left: 222px;">
          
              <!-- Main component for a primary marketing message or call to action -->
              <div class="jumbotron">
                <h1>Duyurular</h1>
                <p>Değerli Öğretmenimiz size Mustafa Kemal Atatürk'ün siz değerli öğretmenlerimize iletmiş olduğu notu iletmek istiyoruz. Geleceğimiz daha ileriye taşımak için teams üzerinden yapılacak toplantıya davetlisiniz. Detaylar aşağıdadır.</p>
                <p>İyi Günler.</p>
                <p>OSTS Müdürü</p>
                <p class="mt-5">
                  <a class="btn btn-lg btn-primary" target="_blank" href="http://www.mku.edu.tr/files/1005-2e7e09fa-9061-4c9b-8af2-f1ab8bdc7f38.pdf" role="button">Toplantı Detayları &raquo;</a>
                </p>
              </div>
          
            </div>
          </div>
        <div class="bg-adminhome pt-1"></div>
        
       
       
       

    </body>
</html>