<!-- <p>ogrenciler works!</p> -->
<!-- <ul>{{totalAngularPackages[0]["student_id"]}}</ul> -->



    <!-- /*<td *ngFor="let item of totalAngularPackages; let i = index">
      {{item.student_name}}
    </td> -->


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" [routerLink]="['/adminhome']">Ana Sayfa</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" [routerLink]="['/ogrenciler']"       >Öğrenciler <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">Ödev</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" [routerLink]="['/ogrenciekle']" href="#">Öğrenci Ekle</a>
            </li>
          </ul>
        </div>
      </nav>

   




   <table class="table">
    <thead>
      <tr>
        <th scope="col">Student Number</th>
        <th scope="col">Student Name</th>
        <th scope="col">Student Last Name</th>
        <th scope="col">student Mail</th>
        <th scope="col">student Phone</th>
      </tr>
    </thead>
    <tbody>

      <tr  *ngFor="let item of totalAngularPackages; let i = index">
            <td>
                {{item.student_number}}
            </td>
            <td>
                {{item.student_name}}
            </td>
            <td>
                {{item.student_lastname}}
            </td>
           
            <td>
                {{item.student_mail}}
            </td>

            <td>
                {{item.student_phone}}  
            </td>
      </tr>
    </tbody>
  </table> 