<!-- <p>ogrenciler works!</p> -->
<!-- <ul>{{totalAngularPackages[0]["student_id"]}}</ul> -->



    <!-- /*<td *ngFor="let item of totalAngularPackages; let i = index">
      {{item.student_name}}
    </td> -->


   
<app-adminnavbar></app-adminnavbar>
       

   




   <table class="table">
    <thead>
      <tr>
        <th scope="col">Student Number</th>
        <th scope="col">Student Name</th>
        <th scope="col">Student Last Name</th>
        <th scope="col">student Mail</th>
        <th scope="col">student Phone</th>
      </tr>
    </thead>
    <tbody>

      <tr  *ngFor="let item of totalAngularPackages; let i = index">
            <td>
                {{item.student_number}}
            </td>
            <td>
                {{item.student_name}}
            </td>
            <td>
                {{item.student_lastname}}
            </td>
           
            <td>
                {{item.student_mail}}
            </td>

            <td>
                {{item.student_phone}}  
            </td>
      </tr>
    </tbody>
  </table> 